{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Learning curve</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism-okaidia.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Chaher Souilem</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'learning_curve' %}">Learning Curve</a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href="{% static 'pdf/ChaherSouilem-Resume.pdf' %}" download="ChaherSouilem-Resume.pdf">Download Resume</a>
                </li>-->
            </ul>
        </div>
    </nav>
    <br>
    <div class="bodyx">
    <div class="row justify-content-center text-center">
        
        <div class="container-fluid">
        <div class="col-md-12">
            <h4>Summary</h4>
            <div class="card card-body h-100">
                <h5>React</h5>
                <h6>1- React Full Course for free ⚛️ (2024) </h6>
                <div class="embed-responsive embed-responsive-16by9"style="max-width: 700px; margin: 0 auto;">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CgkZ7MvWUAA?si=VtvF7RgCkNtHOgaj" allowfullscreen></iframe>
                </div>
                <hr>
                <div style="text-align: left;">
                <p>- React is a JavaScript library for building user interfaces, focusing on components, which are reusable building blocks.</p>  
                <p>- React utilizes a Virtual DOM to efficiently update and render changes without refreshing the entire web page.</p>
                <p>- Creating a react project with Vite build tool:    </p>               
                <div class="code-snippet-container">
                    <div class="code-snippet">
                        <pre><code class="language-javascript line-numbers">
npm create vite@latest “project name”
                        </code></pre>
                    </div>
                    <button class="copy-button" onclick="copyToClipboard('.code-snippet:first-of-type')">Copy Code</button>
                </div>
                <p>- Creating a React component involves defining a function, exporting it, and writing JSX code within it.</p> 
                <div class="code-snippet-container" style="text-align: left";>
                    <div class="code-snippet">
                        <pre><code class="language-javascript line-numbers">
import React from 'react';

// Functional Component
const Greeting = ({ name }) => {
return (
    <div>
        <h1>Hello, {name}!</h1>
        <p>Welcome to my React component example.</p>
    </div>
    );
 };
                            
export default Greeting;
                        </code></pre>
                    </div>
                    <button class="copy-button" onclick="copyToClipboard('.code-snippet:first-of-type')">Copy Code</button>
                </div>
                <br>
                <p style="text-align: left;">- We can style React components with CSS using three methods: external, modules, and inline.</p>
                <p style="text-align: left;">- Props = read-only properties that are shared between components A parent component can send data to a child component, Props are Immutable (their values cannot be changed within the component that receives them).</p>
                <p style="text-align: left;">- React hook = Special function that allows functional components
                    to use React features without writing class components (React v16.8) (usestate, useEffect, useContext, useReducer, useCallback, and more.</p>
                <p style="text-align: left;">- useState() = A React hook that allows the creation of a stateful variable
                    AND a setter function to update its value in the Virtual DOM.</p>
                    <div class="code-snippet-container">
                        <div class="code-snippet">
                            <pre><code class="language-javascript line-numbers">
    import React, { useState } from 'react';

    function MyComponent() {
        // Declare a stateful variable called 'name' initialized to an empty string
        // 'setName' is the setter function used to update the 'name' state
        const [name, setName] = useState('');
                                
        return (
            <div>
             <p>Name: {name}</p>
              <input 
                type="text" 
                value={name} 
                onChange={(e) => setName(e.target.value)} 
                placeholder="Enter your name" 
              />
            </div>
        );
    }
                                
        export default MyComponent;
                            </code></pre>
                        </div>
                        <button class="copy-button" onclick="copyToClipboard('.code-snippet:first-of-type')">Copy Code</button>
                    </div> 
                    <p style="text-align: left;">- updater function = A function passed as an argument to setstate() usually
                        ex. setYear (year+ 1), it allow for safe updates based on the previous state
                        Used with multiple state updates and asynchronous function
                        Good practice to use updater functions.</p> 
                        <div class="code-snippet-container">
                            <div class="code-snippet">
                                <pre><code class="language-javascript line-numbers">
import React, { useState } from 'react';

function MyComponent() {
    const [year, setYear] = useState(2022);

    const incrementYear = () => {
        // Using updater function to update year based on previous state
        setYear(prevYear => prevYear + 1);
    };

    return (
        <div>
            <p>Year: {year}</p>
            <button onClick={incrementYear}>Increment Year</button>
        </div>
    );
}

export default MyComponent;

                                </code></pre>
                            </div>
                            <button class="copy-button" onclick="copyToClipboard('.code-snippet:first-of-type')">Copy Code</button>
                        </div> 
                        <p style="text-align: left;">- UseEffect = React Hook that tells React DO SOME CODE WHEN:</p> 
                        
                            <p>1- This component re-renders.</p>
                            <p>2- This component mounts.</p>
                            <p>3- The state of a value.</p>
                            <P>1. useEffect(() = ()) Runs after every re-render.</p>
                            <P>  2. useEffect(() = (), []) Runs only on mount.</p>
                            <P>  3. useEffect(( => (J, [value]) // Runs on mount + when value changes.</p>
                            <P>  USES:</p>
                            <P>  1- Event Listeners.</p>
                            <P>  2- DOM manipulation.</p>
                            <P>  3- Subscriptions (real-time updates).</p>
                            <P>  4- Fetching Data from an API.</p>
                            <P>  5- Clean up when a component unmounts.</P>
                     
                        <div class="code-snippet-container">
                            <div class="code-snippet">
                                <pre><code class="language-javascript line-numbers">
    import React, { useState, useEffect } from 'react';

    function ExampleComponent() {
        const [count, setCount] = useState(0);
                                    
        // This useEffect hook runs after every re-render
        useEffect(() => {
                // Update the document title with the current count
                document.title = `Count: ${count}`;
        });
                                    
        return (
                <div>
                <p>Count: {count}</p>
                <button onClick={() => setCount(count + 1)}>Increment</button>
                </div>
        );
    }
                                    
    export default ExampleComponent;
                                    

                                </code></pre>
                            </div>
                            <button class="copy-button" onclick="copyToClipboard('.code-snippet:first-of-type')">Copy Code</button>
                        </div> 
                        <P>- useContext() = React Hook that allows you to share values
                            between multiple levels of components without passing props through each level.   </P>
                            <div class="code-snippet-container">
                                <div class="code-snippet">
                                    <pre><code class="language-javascript line-numbers">
 import React, { createContext, useContext } from 'react';

// Create a context
const MyContext = createContext();

// Parent component providing context
function ParentComponent() {
    // Define the value to be shared
    const sharedValue = "Hello from Parent";

    return (
        <MyContext.Provider value={sharedValue}>
            <ChildComponent />
        </MyContext.Provider>
    );
}

// Child component consuming context
function ChildComponent() {
    // Consume the context value
    const valueFromContext = useContext(MyContext);

    return <p>{valueFromContext}</p>;
}

    
                                    </code></pre>
                                </div>
                                <button class="copy-button" onclick="copyToClipboard('.code-snippet:first-of-type')">Copy Code</button>
                            </div> 
                            <P>- useRef()= use Reference" Does not cause re-renders when its value changes.
                                When you want a component to "remember" some information, but you don't want that information to trigger new renders.</P>
                                
                                
                                <P>1- Accessing/Interacting with DOM elements.</P>
                                <P>2- Handling Focus, Animations, and Transitions.</P>
                                <P>3- Managing Timers and Intervals.   </P>

                           <p>In summary:<br>

                            - useRef is for storing values that don't directly affect the UI and don't trigger re-renders when updated.
                            useState is for managing stateful values that directly affect the UI and trigger re-renders when updated.</p>

                            <p>- React Router: Managing navigation and routing within a React application.</p><hr>
                            
                            <h6 class="text-center">2- MUI5 (Material UI) Crash Course</h6>
                            <div class="embed-responsive embed-responsive-16by9" style="max-width: 800px; margin: 0 auto;">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/o1chMISeTC0?si=S61i4mRo2flpiX8v" allowfullscreen></iframe>
                            </div><br><hr>
                            <div class="text-center" style="display: flex; justify-content: center;">
                                <!-- First GIF -->
                                <div style="margin-right: 20px;">
                                    <img src="{% static 'images/mui1.gif' %}" alt="First GIF" style="max-width: 400px;">
                                    <p>1- Home</p>
                                </div>
                                <!-- Second GIF -->
                                <div>
                                    <img src="{% static 'images/mui2.gif' %}" alt="Second GIF" style="max-width: 400px;">
                                    <p>2- Tour Card detail</p>
                                </div>
                            </div>
                            
                            <p>- The implementation of MUI components in a React application:<br><strong>Box</strong>, <strong>Typography</strong>, <strong>Accordion</strong>, <strong>Paper</strong>, <strong>BottomNavigation</strong>, <strong>Modal</strong>, <strong>Button</strong>, <strong>Calendar</strong>, <strong>DatePicker</strong>, <strong>Grid</strong>, and <strong>Card</strong>.</p>
                            <p>Github Link: <a href="https://github.com/chaherswilem/React-MUI/">https://github.com/chaherswilem/React-MUI/</a></p>

                           <h6 class="text-center">3- Personal Summary</h6>
                    <p>- JavaScript BOM is the interaction between JavaScript and the browser.</p>

<p>- JavaScript DOM is the interaction between JavaScript and HTML.</p>

<p>- A component is like a section from many sections that consists of a site; it's reusable and can be a function or a class.</p>

<p>- Features of React:</p>
<ul>
  <li><p>JSX (JavaScript XML): allows us to write HTML in JS code,</p></li>
  <li><p>One-way binding: This means that a variable can change in JS and HTML without reloading the page,</p></li>
  <li><p>Virtual DOM,</p></li>
  <li><p>Simple and rapid, SEO-friendly, size compression of the code in the build phase.</p></li>
</ul>

<p>- React concepts:</p>
<ul>
  <li><p>Components.</p></li>
  <li><p>State.</p></li>
  <li><p>Lifecycle.</p></li>
  <li><p>Props.</p></li>
  <li><p>JSX.</p></li>
</ul>

<p>- We can use React with CDN and CLI.</p>

<p>- Props:</p>
<p>It's an object that gives us the ability to pass data from the father component to the child component. It's public and Immutable.</p>

<p>- State:</p>
<p>It's private and mutable but can pass state through components using props.</p>

<p>- React events:</p>
<ul>
  <li><p>onChange,</p></li>
  <li><p>onClick.</p></li><br>
  <li><p>- Array iteration using map().</p></li>
</ul>

<p>- We should use key=index in map to avoid confusion.</p>

<p>- Styling with ReactJS (CSS): Inline, module, external, also we can use the  CSS-in-JS libraries: (<code>import styled from 'styled-components';</code>) and Emotion (<code>import { css } from '@emotion/react';</code>).</p>
 
<br>
<p>- React Router:</p>
<p>Wrapping the entire application <code>&lt;BrowserRouter&gt;</code> provides the routing functionality for React applications using HTML5 history API.</p>
<p>Responsible for all routing in React. We can use <code>&lt;Switch&gt;</code> to avoid any router confusion. Also, <code>exact</code> to get to the exact URL. <code>history.push</code> to get to the destined URL.</p>
<p><code>&lt;Route&gt;</code> component is used to render a component based on the current URL.</p>
<p><code>&lt;Link&gt;</code>  component is used to create links that navigate between different pages.</p>
<br>
<p>- Lifecycle of a component:</p>
<ul>
  <li><p>Initialization: <code>constructor</code> - use it for variable declaration, states.</p></li>
  <li><p>Mounting: <code>componentDidMount</code> - initialization of the component in the DOM. <code>render</code> - render the resulting HTML or JS to us.</p></li>
  <li><p>Updating: <code>shouldComponentUpdate</code> -&gt; <code>componentWillUpdate</code> -&gt; <code>componentDidUpdate</code> - when an update happens to the component.</p></li>
  <li><p>Unmounting: <code>componentWillUnmount</code> - unlike <code>componentWillMount</code>.</p></li>
</ul>

<p>- Axios:</p>
<p>Responsible for the connection between the frontend and backend.</p>

<p>- Async function:</p>
<p><code>await</code> is used when we want something to finish before going to the next line.</p>

<p>- Redux:</p>
<p>Suitable for more complex projects, used to transfer data between components, better than props, and we can avoid component drilling with it. Redux is centralized data and synchronization of the data shared between components (view), modified by the reducers. <code>const store = createStore()</code>.</p>

<p>- React Hooks:</p>
<p>Since we can't use state and lifecycle components in function components, hooks let us do that. Their functions and ways to interact with component lifecycle and state management.</p>
<ul>
  <li><p><code>useState</code>: Enables the function component to have a state, return stateful value and update it.</p></li>
  <li><p><code>useEffect</code>: Replaces <code>componentDidMount</code>, <code>componentDidUpdate</code>, <code>componentWillUnmount</code>. It gives you the ability to do a side effect function using a happened effect. We can use a list dependency to let React know that we want <code>useEffect</code> to be used as necessary or let it be blank so it's used only once.</p></li>
  <li><p><code>useRef</code>: Able to take an object as a reference. The current property contains information related to the referred object.</p></li>
</ul>
<hr>
<h4 class="text-center">Laravel</h4>
<h6 class="text-center">1- Laravel From Scratch | 4+ Hour Course</h6>
<div class="embed-responsive embed-responsive-16by9" style="max-width: 800px; margin: 0 auto;">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MYyJ4PuL4pY" allowfullscreen></iframe>
</div>
<br><hr>
<h6>- Laravel Documentation:</h6>
<p><a href="https://laravel.com/docs" target="_blank">https://laravel.com/docs</a></p>
<p>- <code>dd</code> stands for "dump and die" in Laravel. It is a debugging function that prints the variables and halts the execution of the script.</p>

<p>- <code>ddd</code> provides a more detailed and interactive debugging experience.</p>
<p><strong>Laravel Project Structure:</strong></p>
<p>- <code>'App'</code>folder contains the core application logic: controllers, models, middleware…</p>
<p>- <code>'Bootstrap'</code>folder contains the app.php file that sets up the application and loads the necessary dependencies.</p>
<p>- Middleware: They intercept and modify requests before they reach the application.</p>
<p>we can group middleware and apply it to the routes, example:</p>
<div class="code-snippet-container">
    <div class="code-snippet">
        <pre><code class="language-javascript line-numbers">
            Route::middleware(['auth', 'admin'])->group(function () {
                // Routes requiring both authentication and admin privileges
            });
        </code></pre>
    </div>
    <button class="copy-button" onclick="copyToClipboard('.code-snippet:first-of-type')">Copy Code</button>
</div> 
<p>- Views are responsible for rendering the HTML that is sent to the browser. They are typically created using the Blade templating engine.</p>


<p><strong>Routing:</strong></p>

<p><code>api.php</code> is a file where you define routes specifically for API endpoints, allowing for a separate route file dedicated to API routes.</p>

<p><code>web.php</code> is a file where you define web routes, specifying how the application responds to HTTP requests.</p>

<div class="code-snippet-container">
    <div class="code-snippet">
        <pre><code class="language-javascript line-numbers">
            Route::get('/', [HomeController::class, 'index']);
        </code></pre>
    </div>
    <button class="copy-button" onclick="copyToClipboard('.code-snippet:first-of-type')">Copy Code</button>
</div> 

<p>=> The root URL (/) is mapped to the index method of the HomeController.</p>

<div class="code-snippet-container">
    <div class="code-snippet">
        <pre><code class="language-javascript line-numbers">
            Route::get('/about', function () {
                return view('about');
            });
        </code></pre>
    </div>
    <button class="copy-button" onclick="copyToClipboard('.code-snippet:first-of-type')">Copy Code</button>
</div> 

<p>=> Returns a view named "about".</p>
<p>- Blade: Laravel's templating engine for creating web pages with PHP integration in HTML. </p>
<p>- Artisan is command-line interface (CLI) tool of Laravel.</p>
<p>- <code>php artisan make:model</code>: used to generate a new model class. (same cmd for controller, middleware, or migration…).</p>
<p><strong>ORM:</strong></p>
<p>- <code>Eloquent</code> is Laravel's ORM (Object-Relational Mapping) that simplifies database interactions by allowing you to work with databases using an expressive syntax in PHP.</p><br><p>Examples:</p>
<div class="code-snippet-container">
    <div class="code-snippet">
        <pre><code class="language-javascript line-numbers">
            // Retrieve all users
            $users = App\Models\User::all();
            
            // Retrieve a single user by ID
            $user = App\Models\User::find(1);
            
            // Retrieve users with a specific condition
            $adminUsers = App\Models\User::where('role', 'admin')->get();
            
            // Create a new user
            $newUser = App\Models\User::create([
                'name' => 'John Doe',
                'email' => 'john@example.com',
                'password' => bcrypt('password'),
            ]);
            
            // Update an existing user
            $user->update(['name' => 'Jane Doe']);
            
            // Delete a user
            $user->delete();    
        </code></pre>
    </div>
    <button class="copy-button" onclick="copyToClipboard('.code-snippet:first-of-type')">Copy Code</button>
</div> 
<p>- Supports relationships between models like: <code>hasOne</code>, <code>hasMany</code>, <code>belongsTo</code>, <code>belongsToMany</code>.</p>
<p>- Eloquent Observers allow one to watch for certain events on a model and perform actions in response to those events.</p>

<div class="code-snippet-container">
    <div class="code-snippet">
        <pre><code class="language-javascript line-numbers">
            // User model
            class User extends Model {
                // ...
            }
            
            // UserObserver
            class UserObserver {
                public function created(User $user) {
                    // Action to perform when a new user is created
                }
            
                public function updated(User $user) {
                    // Action to perform when a user is updated
                }
            }
        </code></pre>
    </div>
    <button class="copy-button" onclick="copyToClipboard('.code-snippet:first-of-type')">Copy Code</button>
</div>                         
<p>=> PS: we must register the observer In the service provider <code>'App\Providers\EventServiceProvider'</code>.</p>  
<p>- Scope filtering is a way to apply filters to your queries within Eloquent models, Example:</p>
<div class="code-snippet-container">
    <div class="code-snippet">
        <pre><code class="language-javascript line-numbers">
            // Inside the Post model

            class Post extends Model
            {
                public function scopePublished($query)
                {
                 return $query->where('status', 'published');
                }
            }
        </code></pre>
    </div>
    <button class="copy-button" onclick="copyToClipboard('.code-snippet:first-of-type')">Copy Code</button>
</div> 
<p> => Now we use this scope in our controller to retrieve published books.</p>
<div class="code-snippet-container">
    <div class="code-snippet">
        <pre><code class="language-javascript line-numbers">
            $publishedPosts = Post::published()->get();
        </code></pre>
    </div>
    <button class="copy-button" onclick="copyToClipboard('.code-snippet:first-of-type')">Copy Code</button>
</div> 
<p><strong>Form Validation:</strong></p>   
<p>- Laravel simplifies form validation with a built-in validation rules, example:</p> 
<div class="code-snippet-container">
    <div class="code-snippet">
        <pre><code class="language-javascript line-numbers">
            class UserController extends Controller
            {
                public function store(Request $request)
                {
                    // Validate the incoming request data
                    $request->validate([
                        'name' => 'required|string|max:255',
                        'email' => 'required|email|unique:users|max:255',
                        'password' => 'required|min:6',
                    ]);  
        </code></pre>
    </div>
    <button class="copy-button" onclick="copyToClipboard('.code-snippet:first-of-type')">Copy Code</button>
</div>    
<p><strong>Authentication:</strong></p>      
<p>- Generate the authentication scaffolding: <code>php artisan make:auth</code>.</p> 
<p>- Run migration: <code>php artisan migrate</code>.</p> 
<p>- Update User Model by adding <code>‘Authenticatable’</code> trait to it, to provide the necessary methods for user authentication.</p> 
<p>- We can Display Authentication Status in Views:</p> 
<div class="code-snippet-container">
    <div class="code-snippet">
        <pre><code class="language-javascript line-numbers">
            {% verbatim %}
        @auth
            {{-- The user is authenticated --}}
        @else
            {{-- The user is not authenticated --}}
        @endauth
        {% endverbatim %}
        </code></pre>
    </div>
    <button class="copy-button" onclick="copyToClipboard('.code-snippet:first-of-type')">Copy Code</button>
</div> 
<p>- We can also access the authenticated user:</p> 
<div class="code-snippet-container">
    <div class="code-snippet">
        <pre><code class="language-javascript line-numbers">
        @auth
        {% verbatim %} Welcome, {{ auth()->user()->name }}{% endverbatim %}
        @endauth
        </code></pre>
    </div>
    <button class="copy-button" onclick="copyToClipboard('.code-snippet:first-of-type')">Copy Code</button>
</div> 
<hr>   
<h4 class="text-center">React and Laravel Full-stack Application practice</h4>
<p>- Focusing on: how to build full-stack application, connect to the Laravel back-end with React, protected Routes,  implementing authentification, CRUD, and notifications.</p>
<hr>

                            <div class="text-center" style="display: flex; justify-content: center;">
                                <!-- First GIF -->
                                <div style="margin-right: 20px;">
                                    <img src="{% static 'images/signup.gif' %}" alt="First GIF" style="max-width: 400px;">
                                    <p>1- Signup Interface</p>
                                </div>
                                <!-- Second GIF -->
                                <div>
                                    <img src="{% static 'images/adduser.gif' %}" alt="Second GIF" style="max-width: 400px;">
                                    <p>2- Add User Interface</p>
                                </div>
                            </div>
                            <hr>
                            <div class="text-center" style="display: flex; justify-content: center;">
                                <!-- First GIF -->
                                <div style="margin-right: 20px;">
                                    <img src="{% static 'images/updateuser.gif' %}" alt="First GIF" style="max-width: 400px;">
                                    <p>3- Update User Interface</p>
                                </div>
                                <!-- Second GIF -->
                                <div>
                                    <img src="{% static 'images/deleteuser.gif' %}" alt="Second GIF" style="max-width: 400px;">
                                    <p>4- Delete User Interface</p>
                                </div>
                            </div><hr>
                            <h6>What I Learned:</h6>

<h5>React:</h5>

    <p>- How to work with context API.</p>
    <p>- How to use React Hooks.</p>
    <p>- How to work with React Router and create protected routes.</p>
    <p>- How to create multiple layouts.</p>
    <p>- How to connect to the API.</p>
    <p>- How to handle the Authentication part.</p>


<h5>Laravel:</h5>

    <p>- How to create logging and registration endpoints.</p>
    <p>- How to create CRUD endpoints.</p>
    <p>- How to create form request data.</p>
    <p>- How to create resources.</p><hr>
    <h6 class="text-center">- Personal Summary</h6>

                            

            </div>
        </div>
    </div>
</div>
</div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
        <script>
            function copyToClipboard(selector) {
                const codeSnippet = document.querySelector(selector);
                const text = codeSnippet.innerText;
                navigator.clipboard.writeText(text).then(() => {
                    alert("Code snippet copied to clipboard!");
                });
            }
        </script>
</body>
<style>
    .bodyx {
        font-family: 'Arial', sans-serif;
        background-color: #f8f9fa;
        margin: 0;
        padding: 20px;
    }

    .code-snippet-container {
        margin-bottom: 20px;
    }

    .code-snippet {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        overflow-x: auto;
    }

    .code-snippet pre {
        margin: 0;
    }

    .copy-button {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
        font-size: 14px;
    }

    .copy-button:hover {
        background-color: #0056b3;
    }
    
    /* Custom styles to override Bootstrap padding */
    .code-snippet-container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .container-fluid {
        padding: 20px;
    }

    .embed-responsive {
        margin-bottom: 20px;
    }
</style>
</html>
